- @page_title = @page.title + ' - ' + default_page_title

- render_region :main do |main|
  - main.edit_header do
    %h1= ''
  - main.edit_form do
    = form_for @page, :as => :page, :url => admin_page_path(@page), :html => {:method => :put, :multipart => true, :id => 'edit_page', 'data-onsubmit_status'=>t('saving_changes')} do |fields|
      = render :partial => "fields", :object => fields
  - main.edit_popups do
    = render :partial => "popups"
