config/database.yml
db/*.db
log/*.log
pkg
tmp/*
spec/dummy/log/*.log
spec/dummy/tmp/*
.DS_Store
.svn
TAGS
public/tmp
public/assets
public/stylesheets/admin
spec/datasets/tmp
*.tmproj
.idea
rerun.txt
*.swp
radiant-*.gem
.rvmrc
.bundle
.ruby-version
.ruby-gemset
*.rails2
vendor/plugins/rails_upgrade
trusty-cms.box
.vagrant
*.gem
.sass-cache
/coverage/*
node_modules/**/*
spec/dummy/node_modules/**/*
