#tag_reference_popup.popup
  .popup_title
    =t('available_tags_for', :name =>  _display_name)
  %p
    %fieldset{:id => "live-search"}
      %label.inline{:for => "search_#{class_of_page.name.underscore}_tag_reference"} Filter Tags
      %input{:id => "search_#{class_of_page.name.underscore}_tag_reference", :type => "search", :name => "search_tag_reference"}/
      %span#tag_search_found_count.info{:id => "filter-count"}
  .reference= tag_reference
  %p.close_link
    %a.close_tags{href:'#'}
      Close Help