@mixin button-shadow {
  box-shadow: 1px 2px 3px #555;
}

@mixin no-button-shadow {
  box-shadow: 0 0 0 #555;
}

#actions {
  bottom: 0;
  left: 0;
  margin: 1em 0.15em;
  position: fixed;
  right: 0;
  width: max-content;

  ul {
    padding: 14px 8px;
  }

  li {
    display: inline;
    margin-right: 5px;
  }

  .pagination {
    float: right;
    margin-right: 24px;
    overflow: hidden;
    padding: 0 5px 5px 0;
    position: relative;

    a, span.current, span.disabled {
      background: #dddddd;
      color: #999999;
      display: block;
      float: left;
      font-size: 80%;
      margin-right: 1px;
      padding: 6px 12px 6px 12px;
      text-decoration: none;
    }

    a {
      &:hover {
        background: #d8d8d8;
        color: #0076a3;
      }

      &:active {
        color: black;
      }
    }

    span.disabled {
      background-color: #999999;
      color: #666666;
    }

    span.current {
      background: white;
      background-image: none;
      color: black;
      font-weight: bold;
    }

    span.gap {
      color: #cccccc;
      display: block;
      float: left;
      padding: 6px;
    }
  }

  .depaginate {
    float: right;
    padding: 6px 12px;

    a {
      background: none;
      color: #cccccc;
      font-size: 80%;
      text-decoration: none;
      text-shadow: none;

      &:hover {
        color: white;
      }
    }
  }
}

.button_form {
  display: inline;
}

.action_button {
  text-decoration: none;

  img {
    vertical-align: -20%;
  }
}
