@mixin button-shadow {
  box-shadow: 1px 2px 3px #555;
}

@mixin no-button-shadow {
  box-shadow: 0 0 0 #555;
}

#actions {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 1em 0.15em;
  width: max-content;
  ul {
    padding: 14px 8px;
  }
  li {
    display: inline;
    margin-right: 5px;
  }
  .pagination {
    position: relative;
    overflow: hidden;
    float: right;
    margin-right: 24px;
    padding: 0 5px 5px 0;
    a, span.current, span.disabled {
      display: block;
      float: left;
      padding: 6px 12px 6px 12px;
      margin-right: 1px;
      background: #dddddd;
      color: #999999;
      font-size: 80%;
      text-decoration: none;
    }
    a {
      &:hover {
        background: #d8d8d8;
        color: #0076a3;
      }
      &:active {
        color: black;
      }
    }
    span.disabled {
      color: #666666;
      background-color: #999999;
    }
    span.current {
      color: black;
      background: white;
      font-weight: bold;
      background-image: none;
    }
    span.gap {
      display: block;
      float: left;
      padding: 6px;
      color: #cccccc;
    }
  }
  .depaginate {
    float: right;
    padding: 6px 12px;
    a {
      background: none;
      font-size: 80%;
      color: #cccccc;
      text-shadow: none;
      text-decoration: none;
      &:hover {
        color: white;
      }
    }
  }
}

.button_form {
  display: inline;
}

.action_button {
  @include button;
  text-decoration: none;
  img {
    vertical-align: -20%;
  }
}
