img.avatar {
  background: white;
  border: none;
  padding: 4px;
  @include border-radius(3px);
  @include single-box-shadow(rgba(0, 0, 0, 0.25), 1px, 1px, 3px);
  &.avatar_32x32 {
    padding: 2px;
    @include border-radius(2px);
    @include single-box-shadow(rgba(0, 0, 0, 0.3), 1px, 1px, 2px);
  }
}
