.dropdown_wrapper {
  border: 1px solid #b3b3b3;
  border-top: 1px solid #c3c3c3;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
}

ul.menu {
  background: $white;
  font-size: 80%;
  padding: 5px 20px;

  li {
    margin: 0 -20px;

    &.separator {
      border-top: 1px solid #e5e5e5;
      margin: 5px -18px;
    }
  }

  a {
    border-top: 1px solid white;
    color: black;
    display: block;
    padding: 6px 20px 7px;
    text-decoration: none;

    &:hover {
      background: $light-blue;
      border-top: 1px solid $light-blue;
    }
  }
}
