#footer {
  background-color: #f7f7f7;
  border-top: 1px solid #eaeaea;
  color: #999999;
  float: left;
  font-size: 80%;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;

  p {
    padding-left: 20px;
    padding-right: 20px;
  }
}
