form {
  input[type="submit"] {
    @include button;
  }

  textarea {
    display: block;
    font-family: Monaco, "Courier New", Courier, monospace;
    font-size: 1em;
  }

  input[type="text"], input[type="search"] {
    width: 75%;
    padding: 0.25em;
    margin: 0.5em;
    border: 0.5px solid $gray;
  }

  select {
    font-size: 1em;
    width: 100%;
    max-width: 100%;
    display: inline-block;
  }

  label {

  }
}


.reversed form {
  label {

  }
}