header {
  grid-area: header;
  font-size: 90%;
  background: $header;
  position: relative;
  &:after {
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
    height: 2px;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  }
}

#site_links {
  color: mix($header, white, 15%);
  font-size: 80%;
  float: right;
  padding: 12px 10px 0 5px;
  height: 16px;
  a {
    color: white;
  }
  a:hover, strong a {
    text-decoration: none;
  }
}

#view_site {
  font-size: 90%;
  background: rgba(black, 0.45);
  display: inline;
  padding: 3px 10px 4px;
  text-decoration: none;
}
