.trusty-container {
  display: grid;
  grid-template-areas: "header header header" "nav toolbar content";
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

body.reversed {
  background-color: $light-gray;
}

body.single_form {
  .content {
    text-align: center;

    #single_form {
      margin: 6em auto 0;
      text-align: left;
    }
  }
}

body.reversed.login_form {
  background-color: #fff;
}

body.reversed.password_form {
  background-color: #fff;
}

.set {
  div {
    display: inline-block;
  }
}

.page-actions {
  margin: 0.5em 0;
}

.updated_line {
  margin: 0.5em 0;
  @include subtle-text-reversed;
}
