#preferences, #config {
  padding-bottom: 1em;

  h3, h4 {
    border-bottom: 1px solid $gray;
    padding-bottom: 0.25em;
  }
}

.ruled {
  border-bottom: 1px solid $light-gray;
  margin-bottom: 0.5em;
  padding: 0.5em;

  span {
    font-weight: bold;
  }

  label {
    color: $dark-gray;
    display: inline-block;
    font-size: 1em;
    margin-right: 0.5em;
  }
}

#display_password {
  .button {
    display: block;
    max-width: fit-content;
  }
}

.checkbox {
  display: inline-block;
  margin-right: 0.5em;
}
