#previous-versions .drawer_handle {
  padding-top: 0;
}

#previous-versions h4 {
  margin-bottom: 0.5em;
  margin-top: 0;
  padding-bottom: 0.25em;
  padding-top: 0;
}

#previous-versions th {
  text-align: center;
}

#previous-versions #no-previous-versions {
  padding-bottom: 0.5em;
}
