.diff {
    overflow: visible;
  }
  
  .diff ul {
    background: #fff;
    display: table;
    font-size: 13px;
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 100%;
  }
  
  .diff li {
    display: table-row;
    height: 1em;
    margin: 0;
    padding: 0;
  }
  
  .diff li.ins {
    background: #dfd;
    color: #080;
  }
  
  .diff li.del {
    background: #fee;
    color: #b00;
  }
  
  .diff del,
  .diff ins,
  .diff span {
    display: block;
    font-family: courier;
    text-decoration: none;
    white-space: pre-wrap;
  }
  
  .diff del strong {
    background: #fcc;
    font-weight: normal;
  }
  
  .diff ins strong {
    background: #9f9;
    font-weight: normal;
  }
  
  .diff li.diff-comment {
    display: none;
  }
  
  .diff li.diff-block-info {
    background: gray;
  }
  
  .dynamic-diff-row {
    display: none;
  }
  
  table#recent-changes {
    width: 100%;
  }
  
  table#recent-changes td {
    overflow-wrap: break-word;
    padding: 12px;
    word-break: break-word;
  }
  
  table#recent-changes tr:hover.diff-row td {
    background: none !important;
  }
  
  table#recent-changes tr:hover.dynamic-diff-row td {
    background: none !important;
  }
  