#tab_control {
  .tabs {
    float: left;
    width: 100%;
    .tab {
      background-color: darken($light-gray, 5%);
      display: inline-block;
      font-size: 0.9em;
      margin-right: 5px;
      padding: 0.75em 1em;
      text-decoration: none;
      &.here {
        background-color: $white;
        color: $gray;
        font-weight: bold;
      }
      span:hover {
        color: $gray;
      }
      .close {
        padding-left: .5em;
      }
    }
  }
  .pages {
    background: $white;
    margin-right: 1em;
    clear: both;
    .page {
      background: white;
      padding: 12px 20px 20px;
      p {
        margin-top: 0;
      }
      label {
        display: inline;
        color: #000;
        font-weight: normal;
        font-size: 80%;
        text-shadow: none;
      }
    }
    .reference_links {
      font-size: 85%;
      margin-bottom: 1em;
    }
  }
}

.tabs {
  #tab_toolbar {
    float: right;
    overflow: hidden;
    padding: 0 1em;
  }
}

.reference_links {
  font-size: 85%;
  margin-bottom: 1em;
}

#tag_reference_link {
  margin: 0 0.5em;
}

body.reversed {
  #tab_control {
    textarea {
      border: 1px solid #cccccc;
    }
  }
}
