.content {
  span.error {
    background-color: #f8d7da;
    color: #721c24;
    display: block;
    font-size: 1em;
    margin: 1em 0;
    padding: 1em;

    a.closer {
      color: #ffcccc;
      margin-left: 10px;
      text-decoration: none;
    }
  }
}
