// Fonts
$base-font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$base-font-size: 15px;

// Links
$base-link-color:#94BDC3 ;
$alt-link-color: red;

// Header
$header: #000 !default;
$primary-tab: rgba(236, 6, 115, 0.6);
$primary-tab-current: white;

// Modules
@import "modules/links";
@import "modules/boxes";
@import "modules/gradients";
