//fonts
$font_0: Georgia;
$font_1: Palatino;
$font_2: Times New Roman;
$font_3: Times;
$font_4: serif;

#content {
  table.index {
    tr.node {
      td {
        padding: .5em;
      }
    }
    &.node {
      &.site {
        small {
          color: #666;
          font-size: 90%;
          font-style: italic;
          font-weight: normal;
          margin-left: .5em;
        }
        a {
          &:visited {
            font-size: 115%;
            font-weight: bold;
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }
  .form-area {
    p {
      &.domain {
        float: left;
        width: 40%;
        margin: 1em 1em 0 0;
        overflow: hidden;
        label {
          
        }
      }
      &.subtitle {
        margin: 1em 0 0 0;
      }
    }
  }
}


#content {
	div.form-area p.homepage {
		float: right;
		width: 16%;
		margin: 1em 0 0;
		overflow: hidden;
	}
	.form-area p {
		&.domain label {
			display: block;
			position: relative;
		}
		&.homepage label {
			display: block;
			position: relative;
		}
	}
}
p.formnote {
	clear: both;
	padding: 2em 0;
}


//@extend-elements
//original selectors
//#content div.form-area p.domain .textbox, #content div.form-area p.homepage .textbox, #content div.form-area p.subtitle .textbox, #content div.form-area p.subtitle select
%extend_1 {
	font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
	font-size: 140%;
	width: 100%;
}