//colors
$color_turquoise_blue_approx: #66d9e0;
$white: #fff;
$black: #000;

.site_chooser {
  width: 20%;
  border-collapse: collapse;
  float: right;
}

.nav {
  color: $white;
  list-style: none;
  font-weight: bold;
  width: 100%;
  padding: 1em;
  cursor: pointer;
  ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;

    li {
      position: relative;
      padding: 0.75em 5em 0.5em 1em;
      &:hover {
        background-color: darken($dark-blue, 15%);
        cursor: pointer;
      }
    }

    a {
      white-space: nowrap;
      color: $white;
      text-decoration: none;
    }
  }

  &:hover ul {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s;
    z-index: 99999;
    background-color: $dark-blue;
    margin-top: 1em;
  }
}
