.search {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .asset_filters {

    a {
      border: 1px solid #3c3a4b;
      display: inline-block;
      margin: 0.25em;
      padding: 0.5em 0.75em;
      text-decoration: none;

      &:hover, &.pressed {
        background-color: #3c3a4b;
        color: #ffffff;
      }
    }
  }

  .asset_search {
    display: inline-block;

    svg, input {
      display: inline;
    }
  }
}


.popup {
  div.toolbar {
    border-bottom: 1px solid #f3f3f4;
    font-size: 95%;
    margin: -20px -20px 0;
    padding: 6px 10px 3px 10px;

    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }

  #assets_table.assets {
    overflow: auto;
  }
}

#upload_holders {
  display: none;
}

#attach_asset {
  .viewport {
    height: 50vh;
    overflow-x: hidden;
    width: 75vw;
  }
}

.attachment_actions {
  margin-bottom: -1em;
  text-align: right;

  ul {
    list-style-type: none;

    &, & li {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  li {
    padding-left: 1em;
  }

  a {
    color: white !important;
    text-shadow: 1px 1px 0 #888888;
  }
}

.asset_attachment {
  margin-bottom: 2em;
  position: relative;

  .attach-assets {
    .message {
      margin: 1em 0;
    }
  }
}

.assets {
  height: 150px;

  ul {
    li.asset {
      display: block;
      float: left;
      height: 100px;
      margin: 1em;
      position: relative;
      width: 100px;

      .front, .back {
        background: #e6eaed;
        border: 5px solid white;
        display: block;
        height: 100px;
        position: absolute;
        text-align: center;
        width: 100px;
      }

      .back {
        color: #333333;
        opacity: 0;
        overflow: hidden;
      }

      .title {
        color: #333333;
        font-size: 10px;
        height: 15px;
        line-height: 15px;
        margin: 10px 4px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .icon {
        height: 63px;
        line-height: 63px;

        img {
          vertical-align: bottom;
        }
      }

      ul.actions {
        li {
          font-size: 10px;
          margin: 5px 0;
          padding: 0 10px;
        }

        a {
          background: #666666;
          background: rgba(#000, 0.8);
          color: #ffffff;
          display: block;
          padding: 0.5em;
          text-decoration: none;

          &:hover {
            background: #999999;
            background: rgba(black, 0.6);
            color: white;
          }
        }
      }

      &.unsaved {
        .front {
          opacity: 0.4;
        }
      }

      &:hover {
        .back {
          background: rgba(white, 0.6);
          opacity: 1;
        }
      }

      &.waiting {
        background-color: #e6eaed;

        .back {
          display: none;
        }

        .front {
          background: transparent url(/assets/admin/spinner.gif) no-repeat center center;

          img {
            opacity: 0.2;
          }
        }
      }
    }
  }
}


#attachment_list.assets {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: -1em 0.5em 1em 0.5em;
  overflow: auto;

  ul.empty {
    display: none;
  }

  p.note {
    clear: left;
    margin: 0;
    padding: 8px;

    span.message {
      color: #aaaaaa;
      float: right;

      &.important {
        color: #dd9999;
      }
    }
  }

  ul.sortable {
    li.asset {
      div.back {
        cursor: move;
      }
    }
  }
}

#assets_table.assets {
  font-size: 75%;
  position: relative;

  p {
    color: silver;
    font-style: oblique;
    padding: 45px 40px;
    text-align: center;
  }

  ul {
    clear: both;

    li.asset {
      input {
        display: none;
      }
    }
  }

  .pagination {
    clear: both;
    padding: 1em;

    a, .current {
      border-bottom: 1px solid #3c3a4b;
      border-left: 1px solid #3c3a4b;
      border-right: 1px solid #3c3a4b;
      border-top: 1px solid #3c3a4b;
      margin-left: -5px;
      padding: 0.15em 0.85em;
      text-decoration: none;

      &:hover {
        background-color: #3c3a4b;
        color: #ffffff;
      }
    }

    .current {
      background-color: #3c3a4b;
      color: #ffffff;
    }

    .previous_page, .next_page {
      border: none;
      margin-right: 0.5em;
    }

    .gap {
      margin-right: 0.5em;
    }
  }
}
