// main.css - main stylesheet for the TrustyCms admin interface

// Common Variables and Modules
@import "base";
@import "reset";
@import "tablesaw/dist/stackonly/tablesaw.stackonly.scss";

// Partials
@import "partials/typography";
@import "partials/layout";
@import "partials/header";
@import "partials/sidebar";
@import "partials/table";
@import "partials/avatars";
@import "partials/dropdown";
@import "partials/drawer";
@import "partials/messages";
@import "partials/forms";
@import "partials/content";
@import "partials/actions";
@import "partials/footer";
@import "partials/popup";
@import "partials/tabcontrol";
@import "partials/dateinput";
@import "partials/toolbar";
@import "partials/validations";
@import "partials/preferences";
@import "partials/treetable";
@import "partials/login_form";
@import "multi_site_main";
@import "site_chooser";

.ui-state-highlight {
  height: 5em;
  line-height: 1.2em;
}

