.rad-icon {
  float: left;
  padding-right: 3px;

  .rad-facebook {
    background-image: url("rad_social/facebook.png");
  }

  .rad-twitter {
    background-image: url("rad_social/twitter.png");
  }

  .rad-email {
    background-image: url("rad_social/email.png");
  }

  .rad-gplus {
    background-image: url("rad_social/gplus.png");
  }
}

.rad-email-form {
  padding: 15px;
  position: relative;
}

.hidden {
  display: none;
}

.rad-dialog-titlebar {
  background: #EDEDED;
  height: 2em;
  padding: .5em .3em .3em 1em;
}

.rad-dialog-title {
  float: left;
  font-weight: bold;
  margin: .3em 0 .2em;
}

#rad-social-email-form .form-row .form-fields {
  float: left;
  width: 60%;
}

#rad-social-email-form .form-row .input-textbox {
  display: block;
  font-size: 12px;
}


.rad-email-form #rad_email_submit {
  float: right;
}

.rad-email-form input.std_input {
  margin-bottom: 10px;
}

.rad-email-form select {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #6e6e6e;
  font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  margin-bottom: 10px;
}

#rad-social-email-form .form-label {
  display: block;
  float: left;
  padding: 5px 10px 0 0;
  text-align: left;
  width: 15%;
}

#rad-social-email-form .form-row {
  clear: both;
  overflow: auto;
  padding: 5px;
}


.rad-email-form input.std_input,
.rad-email-form textarea {
  border: 1px solid #ccc;
  color: #6e6e6e;
  font: 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  padding: 5px;
  width: 97%;
}

.rad-email-form table {
  width: 100%;
}

.rad-email-form table input.std_input {
  width: 93%;
}

.rad-email-form table.three-col input.std_input {
  width: 90%;
}

.rad-email-form input.form_but {
  background-color: #93ba31;
  border: 3px solid #afdd39;
  color: #fff;
  font: bold 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  margin-top: 10px;
  padding: 5px 10px;
}

input.error {
  border: 1px solid #CD0A0A !important;
  color: #CD0A0A !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.rad-email-error, label.error {
  color: #CD0A0A !important;
  display: block;
  font-family: Arial, Helvetica, sans-serif !important;
  padding: 5px 0px !important;
}

#rad-confirmation {
  font-weight: bold;
  padding-top: 25px;
  text-align: center;
}

body .ajax-loader {
  background: transparent none no-repeat 50% 50%;
  background-image: url("ajax-loader.gif");
  height: 35px;
}

body #rad-social-email-form .primary-button {
  background: transparent none repeat-x scroll 0 0;
  background-image: url("bg_primary-btn.png"); /* sprite-ref: cd-backgrounds-sprite; sprite-alignment: repeat;  */
  border: 1px solid #924900;
  color: white !important;
}
