(function(TabControl, $) {
  TabControl.setupTabs = function() {
    var $tabContainer = $('div#tab_control .tabs');
    var $pages = $('div#tab_control .pages .page');

    if($pages.length > 0) {
      $pages.each(function(){
        TabControl.addTab($tabContainer, $(this).data('caption'));
      });

      $('div#tab_control .tabs .tab').on('click', function(event) {
        event.preventDefault();
        TabControl.selectTab($(this).attr('id'));
      });

      $('div#tab_control .tabs .tab .close').on('click', function(event) {
        event.stopPropagation();
        TabControl.removeTab($(this).closest('.tab').attr('id'));
      });

      TabControl.selectTab($pages.first().attr('id'));
    }
  }

  TabControl.addTab = function(parent, tabText) {
    $(parent).append("<a id='tab_" + tabText + "' href='#' class='tab'><span>" + tabText + "</span><img src='" + relative_url_root + "<%= asset_path('admin/tab_close.png') %>' class='close' alt='Remove part' title='Remove part' /></a>");
  }

  TabControl.selectTab = function(id) {
    id = id.replace(/^tab_/, '').replace(/^page_/, '');
    var $pages = $('div#tab_control .pages .page');
    var $tabs  = $('div#tab_control .tabs .tab');

    $pages.hide();
    $tabs.removeClass('here');

    $pages.filter('#page_' + id).show();
    $tabs.filter('#tab_' + id).addClass('here');
  }

  TabControl.removeTab = function(id) {
    id = id.replace(/^tab_/, '').replace(/^page_/, '');
    if(confirm('Remove the "' + id + '" part?')) {
      var $pages = $('div#tab_control .pages .page');
      var $tabs  = $('div#tab_control .tabs .tab');

      var $tab = $tabs.filter('#tab_' + id);
      if($tab.hasClass('here')) {
        var $prevTab = $tab.prev('.tab');
        var $nextTab = $tab.next('.tab');
        if($prevTab.length > 0) {
          TabControl.selectTab($prevTab.attr('id'));
        } else if($nextTab.length > 0) {
          TabControl.selectTab($nextTab.attr('id'));
        }
      }
      $tab.remove();

      $page = $pages.filter('#page_' + id);
      var idInput = $page.find('.id_input');
      var deleteInput = $page.find('.delete_input');
      deleteInput.attr('value', 'true');
      $('div#tab_control').append(idInput).append(deleteInput);
      $page.remove();
    }
  }

}(window.TabControl = window.TabControl || {}, jQuery));

$(function () {
  TabControl.setupTabs();
});
