- render_region :main do |main|
  - main.edit_header do
    %h1 Edit Site
  - main.edit_form do
    = form_for @site, :url => admin_site_path(@site), :html => {:method => :put} do |f|
      = render :partial => "form", :locals => {:f => f}
